body {
    font-family: 'Source+Sans+Pro', sans-serif;
    font-size: 14px;
    font-weight: 200;
    padding-top: 56px;
}

.welcome-container {
    /* Added a darker shade on the hero image using linear-gradient to have the text more legible  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/dose-media-bU6JyhSI6zo-unsplash.jpg");
    height: 95vh;
    /* viewport height used to ensure the height will always be fixed at 95% on any device */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.training-container {
    background-image: url("../images/nordwood-themes-kRNZiGKtz48-unsplash.jpg");
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.seminars-container {
    background-image: url("../images/you-x-ventures-Oalh2MojUuk-unsplash.jpg");
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.development-container {
    background-image: url("../images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg");
    height: 85vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.devmessage-container {
    background-image: url("../images/junior-moran-hrEJYRtBDrk-unsplash.jpg");
    height: 90vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.effective-listening {
    height: 40vh;
    background: url("../images/neonbrand-y_6rqStQBYQ-unsplash.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.functional-technical {
    height: 40vh;
    background: url("../images/helloquence-OQMZwNd3ThU-unsplash.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.seminars {
    height: 40vh;
    background: url("../images/you-x-ventures-Oalh2MojUuk-unsplash.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.development {
    height: 40vh;
    background: url("../images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.support {
    height: 40vh;
    background: url("../images/berkeley-communications-WEDDt-u3q3o-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 34px;
}

.dropdown-menu a {
    font-family: 'Source+Sans+Pro', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: grey;
}

.callout {
    border-radius: 5px;
    background: linear-gradient(rgb(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    padding: 20px;
}

.welcome-header {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.welcome-description {
    color: #fff;
}

.course-header {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    /* adding some shadow on the text to make it more legible */
    text-shadow: 2px 2px 8px #000;
}

.input-group {
    border: 1px solid rgb(175, 168, 168);
    border-radius: 3px;
}

.search {
    border-radius: 3px 0px 0px 3px;
    border: 0 !important;
}

.search-btn {
    border-radius: 0px 3px 3px 0px;
}

.form-control {
    font-size: 13px;
    font-weight: 200;
    background-color: #fff;
}

.blurb {
    background-image: linear-gradient(#77C9D4, #57BC90);
    height: 200px;
    color: #fff;
    border-radius: 12px;
    padding: 25px;
}

.blurb-title {
    font-size: 20px;
    margin-bottom: 9px;
    font-weight: 600;
}

.sub-header {
    color: #fff;
    text-shadow: 1px 1px 8px #000;
}

.header {
    font-size: 20px;
    color: #015249;
    font-weight: 600;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #015249;
}


/* Styling the navbar */

.navbar .navbar-brand {
    letter-spacing: 3px;
    font-weight: 700;
    color: #015249;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #a5a5af;
}


/* /.Styling the navbar */

.skill-label {
    background: white;
    border: 1px solid #015249;
    border-radius: 5px;
    color: #015249;
    font-size: 10px;
}

.skills {
    min-width: 100px;
    margin-left: 10px;
}

.card {
    border: 0px;
}

.collapsible-card {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.card a,
.card a:visited {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.card-img-top {
    border-radius: 13px 13px 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.cardbody {
    background: #77C9D4;
    padding: 15px;
    border-radius: 0px 0px 13px 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-footer {
    background-color: #a5a5af;
}

.footer-copyright {
    font-size: 10px;
    color: #fff;
}

.collapsible {
    padding: 34px;
}

.card-header button,
.card-header button:hover {
    text-decoration: none !important;
    cursor: pointer;
    color: #015249;
    font-weight: 600;
    font-size: 20px;
}

.registr {
    border-radius: 13px;
    background: linear-gradient(#77C9D4, #57BC90);
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 600;
}

.seminar {
    font-size: 20px;
    font-weight: 400;
}

.time {
    font-size: 14px;
}